/* You can add global styles to this file, and also import other style files */
html {
  overflow: hidden;
  background-color: #f4dcea;
}

.button{
  height: 32px;
  background-color: #b60816;
  border: none;
  font-weight: 700;
  color: aliceblue;
}